<!--Agregar tareas-->
<form (ngSubmit)="agregar()"> 
  <h2>Crear tareas</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="item.name">
      </div>
      <div class="form-group col-md-6">
        
      </div>
      <div class="form-group col-md-12">
        <label for="exampleFormControlTextarea1">Descripción</label>
        <textarea class="form-control" rows="3" name="description" [(ngModel)]="item.description"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-right">Agregar</button>
</form>
